// Header
// --------------------------------------------------
.header {
  // TODO: header color
  background: $whitesmoke;
}

.header-inner {
  align-items: center;
  display: flex;
  // display: none;
  // display: table;
  justify-content: center;
  padding: 12px 0; // TODO 顶栏高度
  clearfix();

  +mobile() {
    display: block;
    padding: 10px;
    width: auto;
  }
}
// TODO 标题栏 title 文字
.site-meta {
  float: left;
  line-height: normal;
  margin-left: -20px;

  +mobile() {
    margin-left: 10px;
  }

  .brand {
    background: none; // TODO 标题背景
    padding: 2px 1px;

    +mobile() {
      display: block;
    }
  }

  .site-title {
    font-weight: bolder; // TODO 标题字体
  }
}
// TODO 标题栏 title 上下线
.logo-line-before, .logo-line-after {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;

  +mobile() {
    display: none;
  }

  i {
    background: $black-deep;
    display: block;
    height: 2px;
    position: relative;

    +mobile() {
      height: 3px;
    }
  }
}

.use-motion {
  .logo-line-before i {
    left: -100%;
  }

  .logo-line-after i {
    right: -100%;
  }
}
// TODO 标题栏 subtitle 
.site-subtitle {
  display: none;
  // display: inline-block;
}
