//
// Mist scheme
// ==================================================
@import '_layout';
@import '_header';
@import '_menu';
@import '_posts-expand';
@import '../Muse/_sidebar';
@import '../Muse/_sub-menu';


// ----------------------------------------------------------------------------------
// 参数微调
.post-block .posts-collapse{
    margin-left: 10px;
}

.pagination {
    margin: 80px 0 0;
}

.post-button {
    margin-top: 20px;
    // text-align: left;
    // text-align: right;
    text-align: center;
}

.posts-expand .home .post-title, .posts-expand .home .post-meta {
    // color: blueviolet;
    text-align: left;
    // text-align: right;
    // text-align: center;
}

.pagination {
    margin: 80px 0 0;
    text-align: center;
}

// .posts-expand .post-tags {
//     display: block;
// }


// // 文章页面的宽度
// .main-inner {
//     width: 1000px;
//     // width: 950px;
// }

