// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;
$mixins    = base $scheme;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;





// ===========================
// xuezhisd
// ===========================

// color: #DB9019; // 橙色
// color: #5ED5D1; // 蓝色
// color: #1A2D27; // 黑色
// color: #FF6E97; // 粉色
// color: #F1AAA6; // 浅粉色
// color: #1E90FF; // 蓝色


// 设置背景色-背景图片
body {
    // background:url(https://source.unsplash.com/random/1600x900);
    // background:url(/images/background.jpg);
    // background-repeat: no-repeat;
    // background-attachment:fixed;
    // background-position:50% 50%;
    background: whitesmoke; 
}


// ===========================
// 字体
// ===========================
// 修改全局字体大小
.post-body {
    font-size: 1.0em;
}
// 美化 h1/h2/h3/h4/h5/h6 标签 (前景)
.post-body h1 {
  color: $mycolor_h16;
  &:hover {
    color: $mycolor_h16_hover;
  }
}
.post-body h2 {
  color: $mycolor_h16;
  &:hover {
    color: $mycolor_h16_hover;
  }
}
.post-body h3 {
  color: $mycolor_h16;
  &:hover {
    color: $mycolor_h16_hover;
  }
}
.post-body h4 {
  color: $mycolor_h16;
  &:hover {
    color: $mycolor_h16_hover;
  }
}
.post-body h5 {
  color: $mycolor_h16;
  &:hover {
    color: $mycolor_h16_hover;
  }
}
.post-body h6 {
  color: $mycolor_h16;
  &:hover {
    color: $mycolor_h16_hover;
  }
}

.book-mark-link {
  &::before {
  // color: $mycolor_book_mark_link;
  // color: $black-deep;
  }
}


// ===========================
// 归档页
// ===========================
// 归档页-标题的颜色和背景颜色
.posts-collapse .post-title {
    // color: #FF6E97;
    // background: #000;
    // margin-left: 50px;   

    a, span.exturl {
      border-bottom: none;
      color: $blue;
    }

}
// 归档页-日期的颜色
.posts-collapse .post-meta {
    color: $red;
    font-weight: 900;
    margin-left: 8px; 
}
// 归档页-竖线-彩色
// .posts-collapse::before {
//     background-image: linear-gradient(180deg,#f79533 0,#f37055 15%,#ef4e7b 30%,#a166ab 44%,#5073b8 58%,#1098ad 72%,#07b39b 86%,#6dba82 100%);
// }
// 归档页-年间距
.posts-collapse .collection-year {
    margin: 20px 0;
}
.page-archive .posts-collapse .archive-move-on{
    // background-color: #FF6E97;
    background-color: $red;
}
.posts-collapse .collection-title::before{
    // background-color: #FF6E97;
    background-color: $red;
}
.posts-collapse .post-header::before {
    background-color: #f0ffff00;
    // background-color: $black;
}
// 归档页 Title的方框
// .posts-collapse .post-header {
// position: relative;
//     transition-duration: 0.2s;
//     transition-timing-function: ease-in-out;
//     transition-delay: 0s;
//     transition-property: inherit;
//     box-shadow: 0 1px 3px #1A2D27, 0 0px 0px #1A2D27;
//     // box-shadow: 0 1px 3px #6f42c100, 0 1px 2px #6f42c1;
//     padding: 2px 10px; // up-down, left-right
//     margin: 20px;
//     background: #c1425c00;
//     border-bottom: none;
//     border-radius: 20px;
// }


// ===========================
// 分类页面 字体的颜色
// ===========================
.category-list a{
  // font-weight: 900; // 加粗 
  // color:#FF6E97;
  color:#1A2D27;
  // background-image: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
// background-color: #f0ffff00;
}
// 分类页面中,count的颜色
.category-list-count{
  //  font-weight: 900; // 加粗 
  // color: #FF6E97;
  // color:#1A2D27;
  // color:#FF6E97;
  color: $red;
}


// ===========================
// 标签页
// ===========================
// 标签页-方框-颜色
// .tag-cloud a {
//     // box-shadow: 0 1px 3px #6f42c1;
//     box-shadow: 0 1px 3px #F1AAA6, 0 1px 2px #F1AAA6;
//     // box-shadow: 0 1px 3px #fc6423, 0 1px 2px #fc6423;
//     padding: 2px 10px;
//     margin: 4px;
//     background: #c1425c00;
//     border-bottom: none;
//     border-radius: 20px;
// }
// 标签页-底部选择按钮(1.2.3.4.5)颜色
.pagination .page-number.current {
    // color: $red;
    background: #1A2D27;
    border-radius: 20px 20px 20px 20px;
}


// ===========================
// 代码框的美化代码
// ===========================
.highlight {
    border-radius: 3px;
    // background-color: rgb(246, 248, 250);
    overflow: auto;
    border-width: 1px 1px 1px 2px;
    border-style: dashed dashed dashed solid;
    // border-color: #5ED5D1;
    border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(170, 170, 170) $blue-bright;
    // border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(170, 170, 170) rgb(108, 226, 108);
    border-image: initial;
    position: relative;
}
// ===========================
// 针对Code代码标签的美化 `import numpy`
code {
  padding: 2px 4px;
  word-wrap: break-word;
  // color: #ff7600;
  // background: #fbf7f8;
  // color: #1A2D27;
  // background: #F1AAA6;
  // background: $grey-light;
  background: $blue-bright;
  // backgroudn: #f0faf9;
  border-radius: 3px;
  // font-size: 15px;
  // font-weight: bold;
}


// ===========================
// 字体格式 优化
// ===========================
// 针对strong标签的美化效果. **test**
// 加粗
strong{
font-weight: bold;
    // background-color: #9f95ff;
    // border-radius: 39px;
    // color: #DB9019;
    color: $red;
    padding-left: 0px;
    padding-right: 1px;
    text-shadow: 1px 1px 1px #0003;
}
// 斜体
em{
// font-weight: bold;
    // background-color: #9f95ff;
    // border-radius: 39px;
    // color: #DB9019;
    color: $red;
    // padding-left: 0px;
    // padding-right: 1px;
    // text-shadow: 1px 1px 1px #0003;
}
// 删除线
del{
// font-weight: bold;
    // background-color: #9f95ff;
    // border-radius: 39px;
    // color: #DB9019;
    color: $red;
    // padding-left: 0px;
    // padding-right: 1px;
    text-shadow: 1px 1px 1px #0003;
}
// 表格-标题栏颜色
th{
  font-weight: bolder;
  color: #ffffff;
  // color: #000000;
  // background: #e431d3;
  // background: #ff7600;
  // background: #6495ED;
  // background: #1E90FF;
  background: $blue;
  font-weight: bolder;
}
// ===========================
// 引用-方框-美化 > 
blockquote {
  padding: 0 15px;
  color: $black-deep;
  // font-family: cursive;
  background-color: #f0faf9;
  // border-left-color: #42c1b8;
  // border-left-color: #5ED5D1;
  border-left-color: $blue-bright;
}
// 引用-字体高亮 > 
pre, .highlight {
    background: #f7f7f7;
    // color: #5cb85c;
    color: $blue;
    // color: $red;
    line-height: 1.1;
}
// ===========================
// 超链接 优化 []()
.post-body 
  a:not(.btn){
    // color: #42c1b8;
    // color: #6495ED;
    // color: #1E90FF;
    // color: #4CB4E7;
    // color: #1F6FB5;
    color: $blue;
    // color: #a166ab;
    // font-weight: bolder;
    // color: #1A2D27;
    border-bottom: none;
    // border-bottom: 1px solid #1E90FF;
    text-decoration: underline;
    &:hover {
      // color: $red;
      color: $black-dim ;
      border-bottom: none;
      text-decoration: underline;
      // border-bottom: 1px solid #F1AAA6;
    }
  }



// ===========================
// HEADER 标题栏
// ===========================
// header颜色
.header {
  background: #4CB4E7;
  // background: $blue;
}
// HEADER是否显示
.header-inner {
  align-items: center;
  display: flex; // HEADER是否显示
  // display: none;
  // display: table;
  justify-content: center;
  padding: 12px 0; // TODO 顶栏高度
  clearfix();
}
// ===========================
// // 标题栏-字体加粗-颜色-鼠标反应
// 鼠标划过菜单时,颜色变化
// file: _menu.styl
.menu-item-active a {
  color: $red;
}
.menu {
  font-weight: 900; // 加粗 
    text-align: center;
    font-size: 19px;
  .menu-item { // 椭圆形圈
    // margin: 0;
    // box-shadow: 0 1px 3px #5b9600, 0 1px 3px #5b9600;
    // border-radius: 50px;
    // &:hover { //鼠标飘过时反应
    //   @extend .menu-item-active a;
    // }
  }
}
// header是否显示站点名字
.site-meta {
  display: none; // TODO add
}



// ===========================
// 侧边栏
// ===========================
//侧边栏 - 切换键
.sidebar-toggle {
    display: block;
}



// ===========================
// 首页
// ===========================
// 设置 首页-标题的颜色
.posts-expand .post-title-link {
    // color: #fc6423;
    // color: $black-deep;
    color: $blue;
    // color: $red;
    // color: $orange;
    // color: #FF6E97;
    // color: #6495ED;
    font-weight: bolder;
    // font-size: 16px;
}
// 首页-文章标题的下划线 彩色
.posts-expand .post-title-link::before {
    // background-image: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
    // background-image: linear-gradient(90deg,#FF6E97 0,#FF6E97 25%,#F1AAA6 50%,#FF6E97 75%,#FF6E97 100%);
    // background-image: linear-gradient(90deg,#0684bd 0,#0684bd 25%,#5ed5d1 50%,#0684bd 75%,#0684bd 100%);
    // text-decoration: underline;

    &:hover {
      // color: $red;
      color: $black-dim ;
      border-bottom: none;
      text-decoration: underline;
      // border-bottom: 1px solid #F1AAA6;
    }

}
// 首页 - 内容距离菜单栏的距离
.content {
    padding-top: 50px;
}
// 首页 文章之间的间距
.posts-expand .post-block:not(:first-child) {
    margin-top: 10px;
}
// 首页 - 文章边框
// 鼠标放上去之后呈现出加深的效果
.content .posts-expand .post-block:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 4px 8px 0 rgba(0,0,0,.1), 0 8px 16px 0 rgba(0,0,0,.1), 0 16px 32px 0 rgba(0,0,0,.1);
}
// 首页 - 分页数字
.pagination .prev, .pagination .next, .pagination .page-number {
    // color: blueviolet;
    // color: #FF6E97;
    color: $red;
    // color: #5ED5D1;
    // font-weight: 500;
    // border-radius: 30px 30px 30px 30px;
}
// // 首页 - 当光标放入阅读全文上时,应用下面的配色方案
// .post-button .btn:hover{
//   border-color: #6f42c1;
//   color: #fff;
//   background: #e431d3;
//   background-image: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
// }
// // 首页-阅读全文-优化
// .post-button .btn {
//     color: #555!important;
//     background-color: $whitesmoke;
//     border-radius: 3px;
//     // font-size: 15px;
//     box-shadow: inset 0 0 10px 0 #e346035c;
//     border: none!important;
//     transition-property: unset;
//     padding: 0 15px;
//     border-radius: 30px 30px 30px 30px;
// }



// ===========================
// 文章页面
// ===========================
// 标题的颜色
.posts-expand .post-title {
    color: $black-deep;
    // color: #1E90FF;
    // color:#42c1b8;
    font-size: $font-size-large;
    font-weight: bolder;
    &:hover {
      color: $red;
      // border-bottom: none;
      // text-decoration: underline;
      // border-bottom: 1px solid #F1AAA6;
    }
}
// 给文章概述与文章内容添加上一个方框。
.content .posts-expand .post-block{
    color: $black-deep;
    background-color: $whitesmoke;
    position: relative;
    margin-bottom: 30px;
    padding: 12px 20px;
    // font-size: 16px;
    box-shadow: rgba(0,0,0,0.1) 0px 15px 35px 0px, rgba(0, 0, 0, 0.1) 6px 6px 10px 0px;
    border-radius: 20px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    transform-style: preserve-3d;
}
// .post-expand .post-body{
//     position: relative;
//     overflow: visible;
//     padding: 20px;
//     color: #666;
//     // font-size: 16px;
//     word-break: break-word;
// }
// 文章页-相关（流行）文章推荐
.popular-posts-header {
  border-bottom: 2px solid #bbbbbb;// $gainsboro;
  display: block;
  font-size: $font-size-large * 1.2;
  margin-bottom: 10px;
  margin-top: $post-eof-margin-bottom;
  color: $black-deep;
  font-weight: bolder;

  &:hover {
    color: $red;
    border-bottom: 2px solid #bbbbbb;// $gainsboro;
  }

}
.popular-posts {
  padding: 0;
  .popular-posts-item {
    .popular-posts-title {
      a, span.exturl {
        font-size: $font-size-medium * 1.1;
        border-bottom: none;
        // border-bottom: 1px solid #1E90FF;
        text-decoration: underline;
        // color: #1E90FF
        color: $blue;
        &:hover {
          color: $black-deep;
          // border-bottom: 1px solid #F1AAA6;
          border-bottom: none;
          text-decoration: underline;
        }
      }
    }
  }
}
// 文章页-标签-颜色和字体
.posts-expand .post-tags {
  a{
    // color: #DB9019;
    // color: #5ED5D1;
    // color: #1A2D27;
    color: $red;
    // color: #F1AAA6;
    // color: #1E90FF;
    font-size: $font-size-medium;
    font-weight: bold;
    order-bottom: none;
    // border-bottom: 1px solid #1E90FF;
    text-decoration: underline;
  }
    
    // display: block;
}
// 文章页-下一篇文章-上一篇文章-导航
.post-nav-item {
  a {
    font-size: $font-size-medium;
    // color: #1E90FF;
    color: $blue;
    border-bottom: none;
    text-decoration: underline;
    // border-bottom: 1px solid #1E90FF;
    // background-color: #F1AAA6;
    &:hover {
      // color: #F1AAA6;
      color: $black-deep;
      border-bottom: none;
      text-decoration: underline;
    }
  }
}




// ===========================
// 未知
// ===========================
// // 下划线,美化 ???
// hr {
//   background-color: $mycolor_hr;
// }
// 去掉图片的边框,显得更加自然 ???
.posts-expand .post-body img {
    border: 1px #F1AAA6;
}
// 顶部进度条的隐藏代码
.headband {
  height: 0px;
  background: #FF6E97;
}


// ===========================
// // 鼠标选择的段落变成黄色
// ::selection {
//     background-color: #59ff83;
//     color: #555;
// }

// // ===========================
// // 标题栏-title-字体
// .site-title{
//   // font-family: 'Lato', "PingFang SC", "华文新魏", sans-serif;
//     /*font-size: 20px;*/
// }
// // ===========================
// // 标题栏-title-颜色
// .site-meta {
//     background-image: linear-gradient(200deg, #e4a0a3, #3F51B5);
//     //background-image: linear-gradient(90deg, #4263c1 0, #ef4ec5 25%, #b255f3 50%, #4eb2ef 75%, #8466ab 100%);
// }

// // // 美化 h1/h2/h3/h4/h5/h6 标签 (背景)
// // .post-body h1 {
// //     background: #fc6423;
// //     // border-radius: 5px 5px 5px 5px;
// //     border-radius: 10px 10px 10px 10px;
// //     color: #fff;
// //     // line-height: 20px;
// //     padding: 4px 0 4px 10px; // up right down left
// // }
// // .post-body h2 {
// //     background: #42c1b8;
// //     // border-radius: 5px 5px 5px 5px;
// //     border-radius: 10px 10px 10px 10px;
// //     color: #fff;
// //     // line-height: 20px;
// //     padding: 4px 0 4px 10px; // up right down left
// // }
// // .post-body h3 {
// //     background: #5b9600;
// //     border-radius: 10px 10px 10px 10px;
// //     color: #fff;
// //     // line-height: 20px;
// //     padding: 4px 0 4px 10px; // up right down left
// // }
// // .post-body h4 {
// //     background: #fc6423;
// //     border-radius: 8px 8px 8px 8px;
// //     color: #fff;
// //     // line-height: 20px;
// //     padding: 4px 0 4px 10px; // up right down left
// // }
// // .post-body h5 {
// //     background: #42c1b8;
// //     border-radius: 8px 8px 8px 8px;
// //     color: #fff;
// //     // line-height: 20px;
// //     padding: 4px 0 4px 10px; // up right down left
// // }
// // .post-body h6 {
// //     background: #5b9600;
// //     border-radius: 5px 5px 5px 5px;
// //     color: #fff;
// //     // line-height: 20px;
// //     padding: 4px 0 4px 10px; // up right down left
// // }

// // ---------------------------------------------------------------------------------------------------------------------------------------------
// // 暂时屏蔽全局美化过程
// /*
// // 配置全局页面,椭圆化(页面方框变成椭圆的),以及添加透明度(将页面方框透明化)
// .header-inner {                                                                                                                                                                                // 菜单栏
//     border-radius: 30px 30px 30px 30px;
//     box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);                      //增加阴影部分
// //    background: rgba(255,255,255,.5);                                                                                                                                         // 增加透明度
// }
// .sidebar-inner {                                                                                                                                                                                // 头衔栏
//     border-radius: 30px 30px 30px 30px;
//     position: absolute;
//     overflow: hidden;
//     box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);                      // 增加阴影部分
// //    background: rgba(255,255,255,.5);                                                                                                                                         // 增加透明度
// }
// .post-block {                                                                                                                                                                                  // 主文章页面
//     border-radius: 30px 30px 30px 30px;
//     box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);                     // 增加阴影部分
// //    background: rgba(255,255,255,.5);                                                                                                                                         // 增加透明度
// }
// #posts > article + article .post-block {                                                                                                                                           // 后面的文章
//     border-radius: 30px 30px 30px 30px;
//     box-shadow: 10px 10px 3px 0 rgba(0,0,0,0.15), 10px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);               //增加阴影部分
// //    background: rgba(255,255,255,.5);                                                                                                                                         // 增加透明度
// }
// .pagination {                                                                                                                                                                                   // 页面分页
//     border-radius: 30px 80px 30px 80px;                                                                                                                                        // 扁平化,两边非对称
//     box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);                      //增加阴影部分
// //    background: rgba(255,255,255,.5);                                                                                                                                         // 增加透明度
// }
// .menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {
//     background: #f9f9f99e;                                                                                                                                                             // 首页菜单选中后,变成淡白色.
// }
// */
